.fancy-checkbox
  background: lighten($header_gray, 20%)
  border-top: 1px solid black

  label
    cursor: pointer
    display: block
    font-size: 20px
    padding: 40px

  input
    position: absolute
    visibility: hidden

  &.checked
    background: #393

    &.negative
      background: darken($orange, 20%)
