.fancy-checkbox
  background: gray
  border-top: 1px solid black

  label
    cursor: pointer
    display: block

  input
    position: absolute
    visibility: hidden

  &.checked
    background: green

    &.negative
      background: red
