$blue = #98d7db
$orange = #f3704f
$header_gray = #3a3a3a

html
  background: $orange
  color: #fff
  font: 14px/24px Roboto, "Helvetica Neue", sans-serif

body
  margin: 0

  > .page
    > .page-nav
      display: none

    > .page-subpages > .page
      &.inactive
        display: none

      header
        background: $blue
        color: #fff
        padding: 10px 25px
        text-shadow: 0 1px 1px rgba(#000, 0.25)

        h1
          font-size: 40px
          font-weight: lighter
          
        &.dialog
          background: $header_gray
          
          h1
            background: url('images/arrow.png') no-repeat 0px 0px
            padding-left: 55px
            font-size: 26px
          

      .content
        padding: 10px 25px 50px

      .action
        text-align: center

        .next
          background: $header_gray
          border-radius: 5px
          color: #fff
          display: inline-block
          font-size: 20px
          padding: 10px 40px
          text-decoration: none
          text-shadow: 0 1px 1px rgba(#000, 0.75)
          border: 0


.map
  #placeholder
    background: #efefef
    width: 100%
    height: 450px


@import "./fancy-checkbox"
